$bleed: 14pt; // Set to 14pt (5mm) for final print; Set to 0 for visual testing.
$safety-margin: 18pt;
$safety-margin-inner: $safety-margin + 32pt; // Suggested: 0.8 - 1.5 cm extra (using 1.1 cm)
$my-margin-vertical: 30pt;
$my-margin-horizontal: 20pt;

$margin-vertical: $bleed + $safety-margin + $my-margin-vertical;
$margin-horizontal: $bleed + $safety-margin + $my-margin-horizontal;
$margin-inner: $safety-margin-inner + $my-margin-horizontal; // For print

$page-width: 257pt + $margin-horizontal + $margin-inner;
$page-height: 480pt + 2*$margin-vertical;

$spine: 21pt;

@page {
    size: (2*$page-width + $spine) $page-height;
    margin: $bleed;

    background: white;
}

header {
    background: url(cloud.svg) white no-repeat center 180pt;
    background-size: 180pt;

    width: $page-width - $bleed;
    height: $page-height - 2*$bleed;

    float: right;
}
