$bleed: 0pt; // Set to 9pt for final print; Set to 0 for visual testing.
$safety-margin: 18pt;
$safety-margin-inner: 45pt;
$my-margin-vertical: 30pt;
$my-margin-horizontal: 20pt;

@page {
    size: (360pt + $bleed) (576pt + 2*$bleed);

    margin: $bleed + $safety-margin + $my-margin-vertical
            $bleed + $safety-margin + $my-margin-horizontal;

    @bottom {
        font-family: "Iowan Old Style";
        font-size: 9pt;
        content: counter(page);
    }
}

@page:left {
    margin-right: $safety-margin-inner + $my-margin-horizontal;
}
@page:right {
    margin-left: $safety-margin-inner + $my-margin-horizontal;
}


html {
    font-family: "Iowan Old Style";
    font-size: 10pt;
    line-height: 1.4;
}

p + h2 {
    page-break-before: always;
}

h2 {
    margin-top: 30em;
    font-weight: normal;
    font-size: 1em;
    text-transform: uppercase;
}

p {
    margin: 0;
    text-align: justify;
    hyphens: auto;
}

p + p {
    text-indent: 1.5em;
}

blockquote {
    font-style: italic;
}

blockquote p + p {
    margin-top: 1em;
    font-style: normal;
}

hr {
    content: "* * *";
    border: none;
    text-align: center;
    margin: 1em;
}