$bleed: 0pt; // Set to 9pt for final print; Set to 0 for visual testing.
$safety-margin: 18pt;
$safety-margin-inner: 45pt;
$my-margin-vertical: 30pt;
$my-margin-horizontal: 20pt;

$margin-vertical: $bleed + $safety-margin + $my-margin-vertical;
$margin-horizontal: $bleed + $safety-margin + $my-margin-horizontal;
//$margin-inner: $safety-margin-inner + $my-margin-horizontal; // For print
$margin-inner: $margin-horizontal; // For visual testing let both margins be the same

@page {
    size: (257pt + $margin-horizontal + $margin-inner) (480pt + 2*$margin-vertical);

    margin: $margin-vertical $margin-horizontal;

    @bottom {
        font-family: "Iowan Old Style";
        font-size: 8pt;
        vertical-align: top;
        margin-top: 1.5em;
        content: counter(page);
    }
}

@page:left {
    margin-right: $margin-inner;
}
@page:right {
    margin-left: $margin-inner;
}


$line-height: 1.4em;
$text-indent: 1.5em;

html {
    font-family: "Iowan Old Style";
    font-size: 9.5pt;
    line-height: 1.4;
}

p + h2 {
    page-break-before: always;
}

h2 {
    // The page has 36 lines in total,
    // place the heading one line above the middle
    padding-top: 17 * $line-height;
    margin-top: 0;
    margin-bottom: $line-height;
    font-weight: normal;
    font-size: 1em;
    text-transform: uppercase;
}

p {
    margin: 0;
    text-align: justify;
    hyphens: auto;
    orphans: 1;
    widows: 1;
}

p + p {
    text-indent: $text-indent;
}

p.poem {
    margin: $line-height 0;
    text-indent: 0;
    margin-left: $text-indent;
}

blockquote {
    font-style: italic;
    margin-top: $line-height;
    margin-bottom: $line-height;
}

blockquote p + p {
    margin-top: $line-height;
    font-style: normal;
}

hr {
    content: "* * *";
    border: none;
    text-align: center;
    margin: $line-height;
}
